@import '../../global.scss';

.Contact{
    background: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 1;
        overflow: hidden;
        .ImgContainer{
            width: 800px;
            height: 700px;
            float: right;
            overflow: hidden;
            img{
                height: 100%;
                @include mobile{
                    width: 90%;
                    height: 50%;
                }
            }

        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h1{
            font-size: 50px;
            text-decoration: underline;
            color: aqua;
            @include mobile{
                font-size: 30px;
            }   
        }

        .grid-container{

            form{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                align-items: flex-end;
            }

            input{
            border-radius: 10px;
            padding: 5px;
            height: 60px;
            width: 300px;
            font-size: 18px;
            border: 0.1px solid black;
            @include mobile{
                width: 170px;
                height: 30px;
                border: 0.1px solid black;
                border-radius: 0;
                padding: 5px;
                font-size: 10px;
            }   


            &:focus{
                outline: none;
            }
            }

            textarea{
                grid-column: 1 / -1;
                border-radius: 10px;
                padding: 5px;
                height: 200px;
                font-size: 18px;
                border: 0.1px solid black;

                @include mobile{
                    height: 100px;
                    border: 0.1px solid black;
                    border-radius: 0;
                    padding: 5px;
                    font-size: 10px;
                }   

                &:focus{
                    outline: none;
                }
            }
            button{
                grid-column: 2 / -1;
                border-radius: 10px;
                padding: 5px;
                height: 40px;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 4px;
                border: none;
                background-color: aqua;
                @include mobile{
                    height: 30px;
                    border-radius: 5px;
                    padding: 5px;
                    font-size: 10px;
                }   
                &:focus{
                    outline: none;
                }
            }
        }

    }
}