@import '../../global.scss';

.Contact{
    display: flex;
    background-color: $mainColor;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .wrapper{
        height: 70vh;
        display: flex;
        @include mobile{
            height: 85vh;
        }

        background-color: #A3C3B4;
        .container{
            width: 70vw;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile{
                flex-direction: column;
            }
            
        .left{
            flex: 1;
            height: 100%;
            @include mobile{
                height: 70%;
            }
            .ImgContainer{
                height: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                @include mobile{
                    height: 100%;
                }
                img{
                    height: 100%;
                    float: right;
                    background-size: cover;
                }
            }
        }
        .right{
            height: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .top{
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                @include mobile{
                    overflow: hidden;
                    margin-bottom: 0px;
                }
                h2{
                    font-weight: 800;
                    letter-spacing: 2px;
                    text-decoration: underline;
                    text-align: center;
                    @include mobile{
                        overflow: hidden;
                        font-weight: 100;
                        font-size: 18px;
                        letter-spacing: 0;
                    }
                }
            }
            .bottom{
                width: 100%;
                flex: 4;
                @include mobile{
                    scrollbar-width: none;
                        &::-webkit-scrollbar{
                        display: none;
                        }
                }
                form{
                    width: 85%;
                    display: flex;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: flex-end;
                    margin: auto;
                    
                    > * {
                        margin: 10px 0;
                        @include mobile{
                            margin: 5px;
                        }
                    }
                    input{
                        border: none;
                        border-radius: 10px;
                        flex: 1 1 100%;
                        width: 100px;
                        height: 45px;
                        padding: 10px;
                        font-size: 16px;
                        &:focus{
                            outline: none;
                            border: 3px solid blue;
                        }
                        @include mobile{
                            height: 25px;
                            padding: 5px;
                            font-size: 14px;
                        }
                    }
                    textarea{
                        border: none;
                        border-radius: 10px;
                        flex: 1 1 100%;
                        width: 200px;
                        height: 175px;
                        padding: 10px;
                        font-size: 16px;
                        &:focus{
                            outline: none;
                            border: 3px solid blue;
                        }
                        @include mobile{
                            height: 100px;
                            padding: 5px;
                            font-size: 14px;
                        }
                    }
                    button{
                        width: 100px;
                        height: 40px;
                        border: none;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 1px;
                        border-radius: 20px;
                        cursor: pointer;
                        @include mobile{
                            height: 30px;
                        }
                    }
                }
            }
        }
        }
    }

    .footer{
        @include mobile{
            margin: auto;
        }
    }

}