    $mainColor: #464646;

$themeColor: (
    "theme1": yellow,
    "theme2": aqua,
    "theme3": #973BF4,
    "theme4": #F22B2B,
    "theme5": #4BF22B,
);



$width: 768px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
}
