@import './global.scss';

@each $color, $value in $themeColor{
    .text#{$color}{
        color: $value !important;  
    }
}

@each $color, $value in $themeColor{
    .#{$color}{
        background-color: $value !important;  
    }
}

@each $color, $value in $themeColor{
    .boxshadow#{$color}{
        box-shadow: 0px 0px 20px $value !important;  
    }
}